.cbo {
  background-color:rgb(0, 0, 0);
  width: 50%;
  float:left;
  height:38px;
}
.cbt {
  background-color: rgb(0, 0, 0);
  width: 50%;
  float:right;
  height:38px;
  color: rgb(255, 255, 255);
}
.cons{
  float: right;
  padding-right: 20px;
}
.con{
  padding-left: 15px;
}

.nav {
  background-color: rgb(255, 255, 255);
  width: 100%;
  float:right;
  height:38px;
}
.nav li {
  list-style: none;
  float: right;
  padding-right: 10px;
  padding-left: 5px;
  text-align: right;
}
.nav li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.active{
  color: rgb(193, 1, 1);
}
.header{
  padding: 0px;
  background-image: url(../images/background.png);
  height:390px;
  text-align: center;
  color: rgb(152, 150, 150);
}
.header h1{
  font-size: 90px;
  font-weight: lighter;
}
.header hr{
  width: 90%;
}
.header h3{
  font-weight: bolder;
  font-size: 25px;
}
